<body>

    <script>
        document.addEventListener("DOMContentLoaded", function () {
            const tabListado = document.getElementById("listado-tab");
            const tabEdicion = document.getElementById("edicion-tab");

            //Click en el enlace de Listado
            tabListado.addEventListener("click", function (event) {
                event.preventDefault();
                tabListado.classList.add("active");
                tabEdicion.classList.remove("active");
                document.getElementById("listado").classList.add("show", "active");
                document.getElementById("edicion").classList.remove("show", "active");
            });

            //Cclick en el enlace de Edición
            tabEdicion.addEventListener("click", function (event) {
                event.preventDefault();
                tabListado.classList.remove("active");
                tabEdicion.classList.add("active");
                document.getElementById("listado").classList.remove("show", "active");
                document.getElementById("edicion").classList.add("show", "active");
            });
        });
    </script>

    <div class="holder" style="margin-top: 50px;">

        <div class="row">
            <p class="text-erd">Hola {{usuario}} ! <a class="btn btn-danger" href="/admin/login/logout"> Cerrar Sesión<i
                        class="fas fa-sign-out-alt"></i></a></p>
        </div>

        <!-- Solapas -->
        <ul class="nav nav-tabs" id="myTabs" role="tablist">
            <li class="nav-item" role="presentation">
                <a class="nav-link active" id="listado-tab" href="#listado" role="tab" aria-controls="listado"
                    aria-selected="true">Noticias/Novedades</a>
            </li>
            <li class="nav-item" role="presentation">
                <a class="nav-link" id="edicion-tab" href="#edicion" role="tab" aria-controls="edicion"
                    aria-selected="false">Guías</a>
            </li>
        </ul>

        <!-- Contenido de las solapas -->
        <div class="tab-content" id="myTabsContent">

            <!-- Noticias/Novedades -->
            <div class="tab-pane fade show active" id="listado" role="tabpanel" aria-labelledby="listado-tab">
                <div class="row">
                    <div class="col-7">
                        <h3>Noticias actuales:</h3>
                    </div>
                    <div class="col-5 text-end">
                        <a class="btn btn-success" href="/admin/novedades/agregar"><i class="fa fa-plus"
                                aria-hidden="true"></i> Nuevo</a>
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <table class="table">
                            <thead>
                                <tr class="table-dark">
                                    <th scope="col">#</th>
                                    <th scope="col">Titulo</th>
                                    <th scope="col">Imagen</th>
                                    <th class="text-end">Acciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                {{#each novedades}}
                                <tr>
                                    <th scope="row">{{id}}</th>
                                    <td>{{titulo}}</td>
                                    <td>{{{imagen}}}</td>
                                    <td class="text-end">
                                        <a class="btn btn-secondary" href="/admin/novedades/modificar/{{id}}"
                                            title="Editar">
                                            <i class="fa fa-pencil" aria-hidden="true"></i></a>
                                        <a class="btn btn-secondary" href="/admin/novedades/eliminar/{{id}}"
                                            title="Eliminar">
                                            <i class="fa fa-trash" aria-hidden="true"></i></a>
                                    </td>
                                </tr>
                                {{/each}}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>


            <!-- Guias -->
            <div class="tab-pane fade" id="edicion" role="tabpanel" aria-labelledby="edicion-tab">

                <h3>Seleccione una categoría:</h3>
                <select id="categoriaSelector">
                    <option value="motos-deportivas">Motos Deportivas</option>
                    <option value="motos-offroad">Motos OffRoad</option>
                    <option value="motos-ciudad">Motos de Ciudad</option>
                </select>

            </div>

        </div>

    </div>

</body>